@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

*{
    box-sizing: border-box;
    scroll-behavior: smooth;
    font-family: 'Poppins', sans-serif;
    text-decoration: none;
}

:root {
  /*Couleurs principales */
  --primary-blue: #2196f3;
  --primary-green: #00bfa5;

  /*Dégradé MedHeart */
  --gradient-medheart: linear-gradient(to right, var(--primary-green), var(--primary-blue));

  /*Couleurs de texte */
  --text-dark: #2c3e50;
  --text-light: #ffffff;

  /*Couleurs de fond */
  --bg-white: #ffffff;
  --bg-light: #f5f5f5;
  --bg-glass: rgba(255, 255, 255, 0.1);

  /*Effet glass */
  --glass-blur: blur(12px);
  --glass-border: rgba(255, 255, 255, 0.2);

  /*États / interactions */
  --hover-blue: #1976d2;
  --success-green: #00c853;
  --error-red: #e53935;
}


.login_body{
    background-repeat: no-repeat;
    background-size: cover;
    overflow: hidden;
    padding-top: 1%;
}

.login_body a{
    font-size: 12px;
    color: var(--primary-blue);
    text-align: right;
    text-wrap: wrap;
    margin-right: 3%;
}

.GlassEffect{
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    border: 1px solid rgba(255, 255, 255, 0.2);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    padding-top: 7%;
    padding-left: 38%;
    color: white;
    min-height: 96vh;
    min-width: 98vw;
}

.form_login{
    width: 45%;
    min-height: 70vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    border-radius: 1.2rem;
    padding: .4%;
    color: var(--text-light);
    background: rgba(255, 251, 251, 0.832);
    border: 1px solid rgba(255, 255, 255, 0.2);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
}

.form_container{
    display: flex;
    flex-direction: column;
    height: 65vh;
    width: 99%;
    border-bottom-left-radius: 1.2rem;
    border-bottom-right-radius: 1.2rem;
    color: var(--text-dark);

}

.form_container .display_info{
    height: 80%;
    width: 90%;
    padding: 5%;
}

.display_info h5{
    font-size: 20px;
    background: var(--gradient-medheart);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.titreToast{
    font-size: 20px;
    background: var(--gradient-medheart);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

#message h5{
    font-size: 18px !important;
    text-align: center;
}

#message span{
    color: var(--primary-blue);
    text-align: center;
    padding-left: 5%;
}

#message{
    padding-left: 5%;
    font-size: 16px !important;
}


.form_container .login_title{
    color: var(--primary-blue) !important;
    font-size: 20px !important;
}

.form_container .logo_title_fieldset, .form_container .logo_title_fieldset_info{
    margin: 1%;
    border: none;
    padding: 4%;
    height: 22%;
}

.form_container .logo_title_fieldset{
    display: flex;
    flex-direction: column !important;
    justify-content: space-between;
}

#login_role{
    height: 50%;
}

#login_role .logo_title_fieldset:nth-child(2){
    margin-right: 5px;
}

.role-select-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 10px;
  margin-top: 20px;
  margin-bottom: 20px;
}

.role-card {
  background: white;
  border-radius: 15px;
  padding: 20px;
  width: 120px;
  height: 80px;
  text-align: center;
  cursor: pointer;
  border: 2px solid transparent;
  transition: all 0.3s ease;
  position: relative;
}

.role-card input[type="radio"] {
  display: none;
}

.role-card .content {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  color: #555;
  font-size: 14px;
  text-wrap: wrap;
  transition: 0.3s;
}

.role-card i {
  font-size: 18px;
  color: var(--primary-blue);
}

.role-card input[type="radio"]:checked + .content {
  color: white;
}

.role-card input[type="radio"]:checked + .content i {
  color: white;
}

.role-card input[type="radio"]:checked + .content {
  background: var(--gradient-medheart);
  border-radius: 10px;
  padding: 3%;
}

.icone_space{
    height: 30%;
    width: 100%;
    text-align: center;
    justify-content: center;
}

.icone_space .bell_i{
    background: var(--gradient-medheart);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    color: transparent;
    font-size: 70px;
    display: inline-block;
}

.icone_space .bell_i:hover{
    transform: rotate(0);
}


.form_container .logo_title_fieldset_info{
    margin-top: 5%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.form_container .logo_title_fieldset_info fieldset:nth-child(1){
    margin-right: 20px;
}

.form_container fieldset legend{
    font-size: 12px;
    margin-left: 16%;
    transform: translateY(33px);
    transition: 1s;
    z-index: 1;
    color: var(--primary-blue);
}


.form_container fieldset:has(input:focus) legend {
    margin-left: 0;
    transform: translateY(0px);
    transition: 1s;
    color: var(--text-dark);
}


.image_container, .image_container_message{
    height: 10vh;
    margin-bottom: 0px;
    padding: 1%;
    text-align: center;
    width: 99%;
    border-bottom: 3px sold var(--primary-blue);
    border-top-left-radius: 1.2rem;
    border-top-right-radius: 1.2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    font-size: 10px;
    color:var(--primary-blue);
}

.image_container_message{
    justify-content: space-between !important;
}

.image_container h2{
    margin-left: 15%;
}

.image_container_message .close-icon {
  font-size: 30px;
  background: var(--gradient-medheart);
  margin-right: 4%;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  cursor: pointer;
  transition: transform 0.5s ease;
}



.close-icon:hover {
  transform: scale(1.1);
}

.image_container_message img{
    height: 100px;
    width: 100px;
    object-fit: contain;
}

.image_container img{
    height: 140px;
    width: 140px;
    object-fit: contain;
}

.form_container h4{
    font-size: 14px;
    margin-left: 30px;
    color: var(--primary-blue);
}

.form_container .logo_title_fieldset fieldset, .form_container .logo_title_fieldset_info fieldset{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    width: 100%;
    border: .1px solid var(--primary-blue);
    border-radius:.5rem;
    margin-bottom: 5%;
}

.form_container .logo_title_fieldset fieldset input[type="text"], input[type="password"],
.form_container .logo_title_fieldset_info fieldset input[type="text"], input[type="password"]{
    border: none;
    border-bottom: .1px solid var(--primary-blue);
    height: 100%;
    width: 85%;
    background-color: transparent;
}

.form_container .logo_title_fieldset fieldset i,
.form_container .logo_title_fieldset_info fieldset i{
    color: var(--primary-blue);
    font-size: 15px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
}

.swal2-toast button:where(.swal2-styled) {
    font-size: 14px !important;
    background: var(--gradient-medheart) !important;
    margin-bottom: 2% !important;
}

div:where(.swal2-container) div:where(.swal2-timer-progress-bar){
    background: var(--gradient-medheart) !important;
    margin-top: 2% !important;
    height: 5px !important;
}
.login_button{
    height: 12%;
    display: flex;
    flex-direction: row;
    padding-top: 2%;
    padding-left: 10%;
    padding-right: 10%;
    justify-content: space-between;
    border-bottom-left-radius: 1.2rem;
    border-bottom-right-radius: 1.2rem;
}

.login_button input{
    height: 75%;
    width: 100%;
    border-radius: .5rem;
    border: none;
    color: var(--text-light);
    cursor: pointer;
    transition: 1s;
}

.login_button input:nth-child(1){
    background: var(--gradient-medheart);
}

.login_button input:nth-child(1):hover{
    transform: scale(1.1);
}


@media (max-width:1000px) {
    .form_login{
        width: 65%;
    }

    .GlassEffect {
        padding-left: 20%;
    }
}

@media (max-width:800px) {
    .form_login{
        width: 75%;
    }

    .GlassEffect {
        padding-left: 13%;
    }

    .display_info h5{
        font-size: 20px;
    }

    #message{
        font-size: 15px !important;
    }

    #message h5{
        font-size: 18px;
    }
}

@media (max-width:600px) {
    .form_login{
        width: 97%;
    }

    .GlassEffect {
        padding-left: 4%;
    }

    .display_info h5{
        font-size: 19px;
    }

    #message{
        font-size: 14px !important;
    }

    #message h5{
        font-size: 16px;
    }
}
